<!-- Page Content Holder -->
<h1>Vegetarian Protein Sources</h1>
<div class="line"></div>

<h2>Beans</h2>
<img src="./images/beans.jpg" class="img-fluid" alt="">
<p>These inexpensive and versatile legumes are packed with protein and fiber. It takes a while to make them on the stove
    top, but canned beans are an excellent convenience product when short on time. With so many options, the most
    popular being black bean, pinto, kidney, and cannellini, I love to add them to burgers, soups, stews, salads, tacos,
    and dips.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1/2 cup (130g) – 150 calories, 10g protein, 1.50g total fat, 23g carbohydrates, 10g dietary fiber, 1g sugars, 341
    mg sodium, 40 mg calcium, 3.6 mg iron. (Reference: Canned black beans)
</p>

<div class="line"></div>

<h2>Chickpeas</h2>
<img src="./images/chickpeas.jpg" class="img-fluid" alt="">
<p>Also referred to as garbanzo beans, this staple legume in the Mediterranean and the Middle East are a source of
    carbohydrates, protein, and fiber. Most often beige with a mealy texture and mild flavor, chickpeas have become a
    favorite snack when baked until crispy or added to salads and dips like hummus. The liquid from canned garbanzo
    beans is often used as an egg replacer called aquafaba.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1/2 cup (120g) – 106 calories, 6g protein, 2.3g total fat, 16g carbohydrates, 5g dietary fiber, 0g sugars, 0 mg
    sodium, 42 mg calcium, 1.5 mg iron. (Reference: Canned garbanzo beans)
</p>

<div class="line"></div>

<h2>Lentils</h2>
<img src="./images/lentils.jpg" class="img-fluid" alt="">
<p>Lentils are available dried and vary in color and size. There are many types of lentils ranging from brown, green,
    Lentilles du Puy, red, yellow and black and they all have different textures and tastes. Learning how to cook
    lentils is easy, and each type lends well to be used in soups, stews, sides or salads.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1/4 cup (50g) – 180 calories, 13g protein, 0.50g total fat, 30g carbohydrates, 15g dietary fiber, 1g sugars, 0 mg
    sodium, 20 mg calcium, 2.5 mg iron. (Reference: Raw green lentils)
</p>

<div class="line"></div>

<h2>Peas</h2>
<img src="./images/peas.jpg" class="img-fluid" alt="">
<p>Pea protein, especially in powder form has become commonplace to add as a vegan and vegetarian source. You will often
    find it in protein powders. Eaten fresh, frozen, or canned, peas also have additional benefits as the nutrients and
    fibers are retained in the whole plant. They are easy to add to soups, stews, rice dishes and more!
</p>
<h2>Nutritional Profile:</h2>
<p>Nutritional Profile: Per 1 cup (98g) – 26 calories, 1.76g protein, 0.13g total fat, 4.76g carbohydrates, 1.6g dietary
    fiber, 2.52g sugars, 0 mg sodium, 27 mg calcium, 2.1 mg iron. (Reference: Raw podded peas)
</p>

<div class="line"></div>

<h2>Soybeans</h2>
<img src="./images/soy_beans.jpg" class="img-fluid" alt="">
<p>Globally, soybeans or soya beans are the highest consumed food and for a good reason. They contain a significant
    amount of protein and provide all nine essential amino acids. These oval beige oilseeds are often used to make soy
    milk, tofu, tempeh, and textured vegetable protein.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1/4 cup (43g) – 170 calories, 15g protein, 8g total fat, 14g carbohydrates, 10g dietary fiber, 3g sugars, 0 mg
    sodium, 129 mg calcium, 7.25 mg iron. (Reference: Shiloh Farms uncooked soybean)
</p>

<div class="line"></div>

<h2>Tofu</h2>
<img src="./images/tofu.jpg" class="img-fluid" alt="">
<p>Tofu is made from soymilk by pressing the curds into solid slabs. The press time, amount of coagulant and whey
    removed will result in different types of tofu; silken, soft, medium, firm, and extra-firm tofu textures. This
    soy-based high protein source has a lightly sweet and nutty flavor and is versatile in many culinary applications.
    Cut into cubes and baked, fried, marinated, grilled, sauteed or stir-fried, the options are endless.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 4 ounces (112g) – 96 calories, 12g protein, 4.70g total fat,1g carbohydrates, 1g dietary fiber, 0.4g sugars, 36
    mg sodium, 166 mg calcium, 1.9 mg iron. (Reference: House Foods firm tofu)
</p>

<div class="line"></div>

<h2>Textured Vegetable Protein (TVP)</h2>
<img src="./images/tvp.jpg" class="img-fluid" alt="">
<p>These crunchy soybean flakes are used as a meat extender or, vegetarian meat substitute. Stir them into mixes for
    tacos, chili, sandwiches, meatballs or meatloaf. It’s a versatile gluten-free meat alternative.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1/4 cup (24g) – 80 calories, 12g protein, 0g total fat, 7g carbohydrates, 4g dietary fiber, 3g sugars, 2 mg
    sodium, 80 mg calcium, 5.63 mg iron. (Reference: Bob’s Red Mill high protein textured vegetable protein)
</p>

<div class="line"></div>

<h2>Oats</h2>
<img src="./images/oats.jpg" class="img-fluid" alt="">
<p>Oats are a cereal grass that has found its way into breakfast and desserts. The hallmark of oats is the soluble and
    insoluble fibers, and beta-glucans. They also have a balance of protein, fat, and carbs and known as a whole-grain
    food. They are sold as steel cut that is partially cooked and cut into small rounds, old-fashioned which are hulled,
    steamed and pressed flat, or instant that is precooked and dried. Eat them as a porridge, soak them overnight for a
    ready to go breakfast, make oat milk or add them to snacks like energy bites.
</p>
<h2>Nutritional Profile:</h2>
<p>er 1/2 cup (48g) – 190 calories, 7g protein, 3.50g total fat, 32g carbohydrates, 5g dietary fiber, 1g sugars, 0 mg
    sodium, 20 mg calcium, 2.25 mg iron. (Reference: Bob’s Red Mill uncooked old-fashioned rolled oats)
</p>

<div class="line"></div>

<h2>Rice</h2>
<img src="./images/rice.jpg" class="img-fluid" alt="">
<p>Depending on the variety you choose, there will be a different taste, textures and nutritional value. The rice grain
    is mainly endosperm and may contain the germ, bran, and husk if not removed. White rice is more tender because it
    has been husked, while brown rice still has not and takes longer to cook, but it has more nutrients retained. Long,
    medium and short grain rice are available that yield different textures when cooked. Red and black rice are also
    available that have additional antioxidants.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1 cup (195g) – 218 calories, 4.5g protein, 1.6g total fat, 46g carbohydrates, 3.5g dietary fiber, 0g sugars, 1 mg
    sodium, 10 mg calcium, 0.5 mg iron. (Reference: Cooked brown rice)
</p>

<div class="line"></div>

<h2>Quinoa</h2>
<img src="./images/quinoa.jpg" class="img-fluid" alt="">
<p>Quinoa is a superfood seed of the goosefoot plant from the Andes Mountains that is one of the few plant-based
    proteins that provide all nine essential amino acids. The seeds have a nutty taste but should be rinsed before
    cooking to remove the slightly bitter flavor from their protective coating called saponins. They come in yellow,
    black and red and often mixed. Quinoa is cooked like rice and can take on other flavors for a tasty side dish or
    used in burgers or fritters.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1/4 cup (43g) – 156 calories, 6g protein, 2.50g total fat, 27g carbohydrates, 3g dietary fiber, 0g sugars, 5 mg
    sodium, 47 mg calcium, 4.6 mg iron. (Reference: Uncooked quinoa)
</p>

<div class="line"></div>

<h2>Flaxseeds</h2>
<img src="./images/flaxseeds.jpg" class="img-fluid" alt="">
<p>These tiny golden or brown seeds are loaded with fiber, protein and omega-3 fatty acids, particularly alpha-linolenic
    acid. They come whole or ground. However, the milled seeds have special thickening ability. Flax “eggs” is a
    combination of ground flaxseeds and water, which thicken after a few minutes and used as an egg substitution in
    baked goods for structure. Sprinkling the seeds or milled flax seeds can nutritionally boost any snack, beverage or
    sweets.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 2 teaspoons (13g) – 60 calories, 3g protein, 3.50g total fat, 5g carbohydrates, 4g dietary fiber, 0g sugars, 5 mg
    sodium, 20 mg calcium, 2.5 mg iron. (Reference: Bob’s Red Mill golden flaxseed meal)
</p>

<div class="line"></div>

<h2>Chia Seeds</h2>
<img src="./images/chai_seeds.jpg" class="img-fluid" alt="">
<p>Chia can come in black or white tiny round seeds that pack a nutritional punch. When combined with liquids, the chia
    seeds outer coating swells to create a thickening effect. They are neutral in flavor, have a jelly texture with a
    crunch. It’s often added to drinks, smoothies, puddings, and jams for fiber and protein.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1/4 cup (36g) – 180 calories, 6g protein, 11g total fat, 16g carbohydrates, 14g dietary fiber, 0g sugars, 5 mg
    sodium, 250 mg calcium, 3.4 mg iron. (Reference: Black chia seeds)
</p>

<div class="line"></div>

<h2>Pumpkin Seeds</h2>
<img src="./images/pumkin_seeds.jpg" class="img-fluid" alt="">
<p>These green roasted seeds are often used in Mexican cuisine, also known as pepitas. It’s most well known for its high
    levels of magnesium, about 74 milligrams per 2 tablespoons. Pepitas has a nice crunch to salads and soups. Roasted
    pumpkin seeds also make a great high fiber snack.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1/4 cup (30g) – 160 calories, 10g protein, 13g total fat, 4g carbohydrates, 1g dietary fiber, 1g sugars, 0 mg
    sodium, 20 mg calcium, 7.5 mg iron. (Reference: Giant Eagle roasted pepitas)
</p>

<div class="line"></div>

<h2>Hulled Hemp Hearts</h2>
<img src="./images/hemp_seeds.jpg" class="img-fluid" alt="">
<p>When the hulled green and cream colored seeds are removed from the hemp plant, they yield a nutty and earthy tasting
    ingredient. One serving provides 10 grams of protein plus healthy fats. The tender hemp hearts can be added on top
    of porridge, non-dairy yogurts, smoothies, and salads.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 3 tablespoons (30g) – 160 calories, 10g protein, 12g total fat, 23g carbohydrates, 10g dietary fiber, 1g sugars,
    0 mg sodium, 12 mg calcium, 4 mg iron. (Reference: Bob’s Red Mill hulled hemp seed hearts)
</p>

<div class="line"></div>

<h2>Nuts and Nut Butters</h2>
<img src="./images/nuts.jpg" class="img-fluid" alt="">
<p>Any nut you can dream of, almonds, peanuts, cashews, Brazil, pecans or walnuts are a nutrient-dense vegan protein
    source. They make a great snack or can be used as toppings, incorporated into sauces, soups, and stews to add
    richness and thickness, ground for baking like almond flour, or can be soaked to make dairy-free milk and cheeses.
    Nut butter like almond and peanut butter are easy to make and add as spreads or in sauces. Although high in protein,
    nuts also are higher in fat and calories, so moderation is key.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1/4 cup (28g) – 180 calories, 10g protein, 16g total fat, 5g carbohydrates, 3g dietary fiber, 1g sugars, 0 mg
    sodium, 80 mg calcium, 1.9 mg iron. (Reference: Unsalted roasted almonds)
</p>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>